extends layout/main

block content
  h2 Confirm Your Email Change
  p Hello #{name},

  p You requested to change your account email to this email

  p To complete this change, please click the button below:

  p
    a.button(href=url) Confirm Email Change

  .highlight
    p 
      strong Important: 
      | This link will expire in #{remainingTime} minutes for your security. 
      | If you did not request this change, please ignore this email.
