extends layout/main

block content
  h2 Password Changed Successfully
  p Hello #{name}!
  p Your password has been successfully changed for your MindMission account.
  p This change was made on #{new Date().toLocaleString()} for your security.
  .highlight
    p 
      strong Important: 
      | If you did not make this change, please contact our support team immediately to secure your account.
  p Your account security is important to us. If you have any concerns, don't hesitate to reach out.
