extends layout/main

block content
  h2 Password Reset Request
  p Hello #{name},
  p You recently requested to reset your password for your account associated with your email: 
  p To reset your password, please click the button below:
  p
    .button-container
      a.button(href=url) Reset Password
  .highlight
    p 
      strong Security Notice: 
      | This password reset link will be expired in #{remainingTime} minutes for your security.
  p If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.
