extends layout/main

block content
  h2 Set Your First Password
  p Hello #{name},
  p Thank you for registering with MindMission! To complete your account setup and set your first password, please click the button below:
  p
    .button-container
      a.button(href=url) Set Your First Password
  .highlight
    p 
      strong Important: 
      | This link is secure and will expire for your protection. If you did not request this password setup, please ignore this email.
