extends layout/main

block content
  h2 Welcome to MindMission!
  p Hello #{name}!
  p We're thrilled to have you join our platform and become part of the MindMission community.
  p Your account has been successfully created and you're now ready to explore all the amazing features we have to offer.
  .highlight
    p 
      strong What's Next?
    ul
      li Complete your profile setup
      li Explore our features and tools
      li Connect with other members of the community
  p If you have any questions or need assistance getting started, don't hesitate to reach out to our support team.
